.mycred-border{
	border: 1px solid #e9e9e9; 
	padding: 0 1em; 
	margin: 0 0 .8em;
}
.mycred-select-coupon-reward{
	display: inline-block; 
	/* margin-left: 15px; */
}
.mycred-select-coupon-rewards{
	width: 113px;
	position:relative;
}
.mycred-coupon-form{
	padding: 15px 10px;
}
.mycred-title{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fafafa;
    min-height: 2.5em;
    margin-bottom: 20px;
}
.show-badges { 
	display: block !important;
	/*border-top: 1px solid #e9e9e9;*/
	margin-bottom: 10px;
	margin-top: 11px;
}
.show-ranks { 
	display: block !important;
	/*border-top: 1px solid #e9e9e9;*/
	margin-bottom: 10px;
	margin-top: 11px;
}
.mycred-select-coupon {
	display: inline-block; 
	/* margin-left: 67px;  */
	margin-top: 10px;
}
.mycred-select-ids {
	width: 113px; 
}
.mycred-select-coupon-ranks {
	display: inline-block; 
	margin-left: 76px; 
	margin-top: 10px;
}
.mycred-select-ranks {
	width: 113px; 
	text-align: center;
}
.close-button{
	width: 23px;
    height: 22px;
	margin-top: auto;
    margin-bottom: auto;
	background: #fff;
    border: 1px solid red;
    border-radius: 6px;
    color: red;
    cursor: pointer;
}

.mycred-rank-msg{
	color: #aaa; 
  	font-style: italic;
}

.mycred-coupon-form .mycred-rank-msg {
	margin-bottom: 8px;
	display: block;
	font-size: 11px;
}

.myc-notice {
	color: red;
	padding: 10px 0;
}

.mycred-badge-rank-hide-show {
	margin-left: 10px;
}